body {
	background: #000000;
	color:#666666;
	font:11px/16px Arial, Helvetica, sans-serif;
	width: 700px; 
	margin: 1px auto;
}

#container {
	text-align: left;
	width: 100%;
	background-color: #1970a5;
}

#header{	
	height:90px;
	background: url(images/banner.png) no-repeat;
	background-color:#1970a5;
	border-color: #fff;
}

#header img {
	padding: 1px;
}

#barra{
	border-top:1px solid white;
	border-bottom:1px solid white;
	background: url(images/barbg.jpg) repeat-x;
	height:32px;
}

#barleft{
	float:left;
	width:380px;
}

#barright{
	float:right;
	background:url(images/barrightbg.jpg);
	width: 125px;
	border-left: 1px solid white;
}

#barra ul{
	margin:0;
	padding:2px;
	list-style:none;
}

#barra li{
	float:right;
	margin:0px;
}

#barra a{
	display:block;
	padding:5px 5px 5px;
	color:#fff;
	text-decoration:none;
}

#barra a:hover{
	color:blue;
}

#barra #current{ 
	background-image:url(images/jeft_on.gif);
}


#barra #current a{
	background:#E7F1F8 url(images/jight_on.gif) no-repeat right top;
	color:black;
	padding-bottom:5px;
}

h1{
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#000000;
}

h2{
	color:#1E90FF;
	font-size:14px;
	text-transform:uppercase;
}

#menu{
	padding:0px;
	width:auto;
}

#menu ul{
	padding:0;
}

#menu li{
	list-style-type:none;
	color:#ffffff;
}

#menu li img{
	list-style-type:none;
	border:none;
}

#bodytop {
	width: 700px; 
	height: 25px;
	margin-top:20px;
	background: url(images/bodytop.png);
	float:left;
}

#bodyt{
	width: 700px;
	margin: 0 auto;
	height: auto;
	background: url(images/bodybg.png) repeat-y top;
	float: left;
}

#bodyt p {
	padding-left:10px;
	padding-right:10px;
}

#bodyt a {
	color:blue;
}

#bodybottom {
	width: 700px;
	height: 25px;
	margin-bottom:20px;
	background: url(images/bodybottom.png);
	float:left;
}

#colleft{
	width:215px;
	height: auto;
	margin-left: 8px;
	padding:12px 0px 10px 0px;
	background-color: #ffffff;
	border-right: 1px solid #8cb7d2;
	float: left;
}

#colright{
	width:215px;
	height: auto;
	margin-right:8px;
	margin-left:8px;
	padding:12px 0px 10px 0px;
	background-color: #ffffff;
	float: left;
	border: 1px;
}

#right{
	float:right;
	width:200px;
	color: #666666;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	text-align:justify;
}

.titright{
	background:url(images/rightbg.gif);
	color:#000000;
	font-size:8pt;
	text-transform : uppercase;
	padding: 7px 3px 7px 8px;
	font-weight : normal;
	letter-spacing : 2px;
	margin: 0px 0px 8px 0px;
}

.bodyright{
	padding:5px 4px 13px 10px;
}

	

a {
	color: #f49842;
	text-decoration:none;
	text-transform:lowercase;
	font-weight:bold;
	font-size:10px;
}

a:visited {
	color: #f49842;
	text-decoration:none;
}

a:hover {
	color: #375020;
}


abbr, acronym, .help {
       border-bottom: 1px dashed #000;
       cursor: help;
}

img{
	border: 0px; 
}

#footer{
	clear:both;
	height:25px;
	background:url(images/footbg.png) bottom repeat-x;
	color: #ffffff;
	text-align:center;
	border-top:1px solid #ffffff;
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
	width: 700px; margin: 0 auto;
}

#footer p{
	margin:5px;
	padding:0px;
}

/* Grow(sombreado) para imagenes 
Basado en http://www.kadazuro.com/blog/archives/000067.php
*/

wrap0, .wrap1, .wrap2, .wrap3 {
   display:inline-table;
   /* \*/display:block;/**/
   }
.wrap0 {
 	float:left;
  }	
.wrap1 {
 	position:relative;
 	top:10px;
 	left:10px;
   }	
.wrap2 {
 	position:relative;
 	bottom:0;
 	left:-10px;
   }
.wrap3 {
 	position:relative;
 	top: -10px;
 	left:10px;
 	right:0;
 	padding:10px 10px 0 0;
   }
.wrap3 img {
 	display:block;
 	border:2px solid #FFFFFF;
   } 

#invitado{
	width:160px;
	height: 190px;
	margin-right: 30px;
	padding:15px 10px 5px 15px;
	background-color: #dddddd;
	border: 1px solid #8cb7d2;
	float: right;
}




/* CSS DE COMAS
Basado en www.consol.org.mx
modicar este css jyr */

/* comas stuff */

#body {
	height: auto;
	background: url(images/bodybg.png) repeat-y top;
	float: left;
	background-color: #1970a5;
}

#body #body-top {
	width: 700px; 
	height: 25px;
	padding-top: 20px;
	background: url(images/bodytop.png) no-repeat bottom;
	background-color: #1970a5;
	float: left;
}

#body #body-bottom {
	width: 700px;
	height: 25px;
	padding-bottom: 20px;
	background: url(images/bodybottom.png) no-repeat top;
	background-color: #1970a5;
	float: left;
}

#body form {
	padding-left: 15px;
	padding-right: 15px;
}

#body p, #body a {
	padding-left: 15px;
	padding-right: 15px;
}

#body p a {
	padding-left: 0px;
	padding-right: 0px;
}

#body h1, #body h2, #body h3 {
	padding-left: 15px;
	padding-right: 15px;
}

.comas-table {
	padding-left: 15px;
	padding-right: 15px;
}

#body form table, #body form table td p, #body table td li a {
	padding-left: 0px;
	padding-right: 0px;
}

#footer p {
	margin:5px;
	padding:0px;
}

#footer a {
	color: #ffffff;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
	width: 700px; margin: 0 auto;
}

/* Horario */

.sch_footer {
	background: #999;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #666;
	font-size: 10px;
	text-align: center
}

.sch_footer a {
	color: #333;
}

.sch_bleft {
	background: transparent url(images/sch_left.png) top left repeat-y;
	width: 48px; max-width: 48px; min-width: 48px;
}

.sch_bright {
	background: transparent url(images/sch_right.png) top right repeat-y;
	width: 50px; max-width: 50px; min-width: 50px; 
}

.sch_btopleft {
	background: transparent url(images/sch_topleft.png) top left no-repeat;
	width: 48px; max-width: 48px; min-width: 48px; 
	height: 40px; max-height: 40px; min-height: 40px; 
}

.sch_btopright {
        background: transparent url(images/sch_topright.png) top right no-repeat;
        width: 50px; max-width: 50px; min-width: 50px;
        height: 40px; max-height: 40px; min-height: 40px;
}

.sch_bbotleft {
        background: transparent url(images/sch_botleft.png) top left no-repeat;
        width: 48px; max-width: 48px; min-width: 48px;
        height: 46px; max-height: 46px; min-height: 46px;
}

.sch_bbotright {
        background: transparent url(images/sch_botright.png) top right no-repeat;
        width: 50px; max-width: 50px; min-width: 50px;
        height: 46px; max-height: 46px; min-height: 46px;
}

.sch_btop {
        background: transparent url(images/sch_top.png) top left repeat-x;
        height: 40px; max-height: 40px; min-height: 40px;
}

.sch_bbot {
        background: transparent url(images/sch_bot.png) top left repeat-x;
        height: 46px; max-height: 46px; min-height: 46px;
}



.sch_main {
	background: #fff url(images/sch_logo.png) top right no-repeat;
	font-size: 10px;
	text-align: left;
}

.sch_table {
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-bottom: 0;
	border-collapse: collapse;
}

.sch_table a {
	color: #00f;
	text-decoration: none;
}

.sch_table a:hover {
	color: #00f;
	text-decoration: underline;
	border: 0px;
}

.sch_table th {
	color: #000;
	border-bottom: 3px solid #000;	
	background: #fff;
	color: #000;
	padding: 4px;
}

.sch_table td {
	border-bottom: 1px solid #000;
	padding: 4px;
	border-left: 1px solid #000;
}

.sch_table th.sch_hour {
	background: #fff;
	border-bottom: 3px solid #000;
	color: #000;
}

.sch_table td.sch_hour {
	background: #eeb;
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #000;	
	font-weight: bold;
}

.sch_table tr:hover > td.sch_hour {
	background: #febe00;
	color: #fff;
}

.sch_table tr:hover > td.sch_hour:hover {
	background: #eeb;
	color: #000;
}

.track0 { background: #fe0; color: #000; font-weight: bold ; }
.nom0 { border-left: 15px solid #fe0; color: #000; padding-right: 30px; }

.track1 { background: #d3f8a6; }
.nom1 { border-left: 15px solid #d3f8a6; color: #000; padding-right: 30px; }

.track2 { background: #f6eebb }
.nom2 { border-left: 15px solid #f6eebb; color: #000; padding-right: 30px; }

.track3 { background: #cbe8d6; }
.nom3 { border-left: 15px solid #cbe8d6; color: #000; padding-right: 30px; }

.track4 { background: #d8c6b8; }
.nom4 { border-left: 15px solid #d8c6b8; color: #000; padding-right: 30px; }

.track5 { background: #fcd7d7; }
.nom5 { border-left: 15px solid #fcd7d7; color: #000; padding-right: 30px; }

.trackempty { background: #f0f0f0; }

.trackother { font-weight: bold; background: #cbf; }


